:root {
	--primary-color: #ffffff;
	--secondary-color: #f1f1f1;
	--deep-color: #000000;
	--deep-shadow-color: #00000069;
}

/* esto toma el tema principal de la maquina y lo configura en el sitio web */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--primary-color: #1b1b1b;
		--secondary-color: #111111;
		--deep-color: #e6e6e6;
		--deep-shadow-color: #ffffff69;
	}
}

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body {
	color: var(--deep-color);
	background-color: var(--primary-color);
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
